extends layout
block content
    .text-center
        br
        label.text-warning.h5
            if msg
                =msg
        br
        br
        table.table.table-striped
            thead.table-success
                tr
                    th User
                    th Role
            tbody
                each user in users
                    tr
                        td #{user.username}
                        td 
                            if user.admin
                                | Admin
                            else
                                | User
        