extends layout
block content
    .text-center
        br
        h3 Home Page
        br
        p 
            |This is an example of ExpressJS middlewares 
            b Passport, Crypto, Passport-local 
            | and ExpressJs template engine 
            b Pug.